* {
	margin: 0px;
	padding: 0px;
	
}

.contenido{
	float: right;
	background-color: #0857eb; 
}

body{
	background: #8360c3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2ebf91, #8360c3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2ebf91, #8360c3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.contenedor {
	width: 90%;
	max-width: 1000px;
	margin: 20px auto;
	
}

.contenedor article {
	line-height: 28px;
    color: rgb(255, 255, 255);
    margin: 20px auto;
    padding: 250px 0;
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
	transition: .2s ease all;
	cursor: pointer;
}


.contenedor article .btn-abrir-popup {
	padding: 0 25px;
	margin-bottom: 50px;
	height: 50px;
	line-height: 40px;
	border: none;
	color: rgb(240, 240, 240);
	background: #11998e;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	border-radius: 7px;
	font-family: 'Montserrat', sans-serif;
	font-size: 26px;
	transition: .2s ease all;
	cursor: pointer;
}

.contenedor article .btn-abrir-popup:hover {
	background: #40E0D0;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FF0080, #FF8C00, #40E0D0);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FF0080, #FF8C00, #40E0D0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

/* ------------------------- */
/* POPUP */
/* ------------------------- */

.overlay {
	
	background: rgba(15, 0, 228, 0.308);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}

.overlay.active {
	visibility: visible;
}

.popup {
    background: #11998e;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	box-shadow: 0px 0px 5px 0px #000046c0;
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	padding: 20px;
	text-align: center;
	width: 600px;
	transition: .2s ease all;
	transform: scale(0.8);
	opacity: 0;
    border-radius: 20px;
}

.popup .btn-cerrar-popup {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #f10808;
}

.popup .btn-cerrar-popup:hover {
	color: #000;
}

.popup h3 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	opacity: 0;
    color: #000000;
}

.popup h4 {
	font-size: 26px;
	font-weight: 300;
	margin-bottom: 40px;
	opacity: 0;
}

.popup form .contenedor-inputs {
	opacity: 0;
}

.popup form .contenedor-inputs input{
	border-radius: 15px;
    width: 75%;
	margin-bottom: 20px;
	height: 40px;
	font-size: 18px;
	line-height: 52px;
	text-align: center;
	border: 1px solid #0857eb;
}

.popup form .contenedor-inputs button{
	border-radius: 15px;
    width: 75%;
	margin-bottom: 20px;
	height: 52px;
	font-size: 18px;
	line-height: 52px;
	text-align: center;
    border: 1px solid #1950e9;
    color: #f0f0f0;
    background: #280cc4;
	cursor: pointer;
}

.popup form .btn-submit {
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: #fff;
	background: #5e6be3;
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
}

.popup form .btn-submit:hover {
	background: rgba(243, 8, 153, 0.9);
}

/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup.active {	transform: scale(1); opacity: 1; }
.popup.active h3 { animation: entradaTitulo .8s ease .4s forwards; }
.popup.active h4 { animation: entradaSubtitulo .8s ease .4s forwards; }
.popup.active .contenedor-inputs { animation: entradaInputs 1s linear 1s forwards; }

@keyframes entradaTitulo {
	from {
		opacity: 0;
		transform: translateY(-25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaSubtitulo {
	from {
		opacity: 0;
		transform: translateY(25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaInputs {
	from { opacity: 0; }
	to { opacity: 1; }
}