{% extends "./base.html" %}
{% block title %}
    PASAJE
{% endblock %}

{% block body %}
<center>
    <article>
        <p class="animate__animated animate__pulse animate__infinite"
                    style="font-family: 'Comic Sans MS', sans-serif; font-size: 50px; ">SITU</p><br>
                
    </article>        
</center>
<div class="card">
        <h1>Listado de Pasajeros</h1>
        <hr>
        <div class="table-responsive py-2">
            <table class="table table-striped table-hover table-responsive-sa">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Cedula</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Telefono</th>
                        <th>Imagen</th>
                        <th colspan="2">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for e in pasajeros %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{e.cedula}}</td>
                        <td>{{e.nombre}}</td>
                        <td>{{e.apellido}}</td>
                        <td>{{e.telefono}}</td>
                        
                        <td>
                        {% load static %}
                        <img src="{% static 'logo.png' %}" alt="Imagen no encontrada" width="65" height="50"><br>
                        {{e.imagen}}
                        </td>
                        <td>{{e.correo}}</td>
                        <td><a href="{% url 'pasajerosEdit' e.id %}"  class="btn btn-info">Editar</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        </div>
{% endblock body %}